<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    

    <title>게시글 작성 페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">

    <script>
        function create(){

        const title= $('#post-title').val()
        const content= $('#post-content').val()

            $.ajax({
                type:"POST",
                url: '/api/posting',
                headers: { authorization: `Bearer ${localStorage.getItem("token")}` },
                data: {
                    title: title,
                    name: name,
                    content: content,
                },
                
                
                success: function(response){
                    console.log(response)
                    if(response['errorMessage']){
                        alert(response['errorMessage'])
                        window.location.href='/login'
                        return;
                        
                    }
                    if (response['result'] = "success"){
                        alert("작성이 완료됐습니다.")
                        window.location.href = '/'
                    }
                }
            })

        }
    </script>
    <style>
        * {
            font-family: 'Song Myung', serif;
        }
        .wrap{
            width: 500px;
            margin: auto;
            margin-top: 50px;
        }
        .title{
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <h1 class="title">게시글 작성</h1>
        <div class="form-group">
            <label for="exampleFormControlInput1">제목</label>
            <input type="email" class="form-control" id="post-title" placeholder="">
        </div>
    
        <div class="form-group">
            <label for="exampleFormControlTextarea1">내용</label>
            <textarea class="form-control" id="post-content" rows="3"></textarea>
        </div>
    
        <button onclick="create()" class="write-btn">작성</button>
    </div>
  
</body>
</html>